In [9]:
# 일반 튜플
d1 = (1.0, 5.0)
d2 = (2.5, 1.5)

# 두 점사이의 거리 구하기
from math import sqrt
leng1 = sqrt((d1[0] - d2[0]) ** 2 + (d1[1] - d2[1]) ** 2)
print(leng1)

# 네임드 튜플
from collections import namedtuple

# 네임드 퓨틀 선언
Point = namedtuple('Point', 'x y')
d3 = Point(1.0, 5.0)
d4 = Point(2.5, 1.5)

print(d3)
print(d4)

leng2 = sqrt((d3.x - d4.x) ** 2 + (d3.y - d4.y) ** 2)
print(leng2)

3.8078865529319543
Point(x=1.0, y=5.0)
Point(x=2.5, y=1.5)
3.8078865529319543

In [17]:
# 네임드 튜플 선언 방법
# 1
Point1 = namedtuple('Point', ['x', 'y'])
# 2
Point2 = namedtuple('Point', 'x, y')
# 3
Point3 = namedtuple('Point', 'x y')
# 4                                         난수 key 생성
Point4 = namedtuple('Point', 'x y x class', rename=True) # x처럼 중복된 키, 
                                                         # class는 예약어이기 때문에 rename을 사용하면 된다

# 출력
print(Point1, Point2, Point3, Point4)

# 객체 생성
p1 = Point1(x=10, y=35)
p2 = Point2(20, 40)
p3 = Point3(20, y=40)
p4 = Point4(10, 20, 30, 40)

print()
print(p1, p2, p3, p4) # p4는 rename을 통해 key가 난수로 변경된다

# Dict to Unpacking
temp_dict = {'x': 75, 'y':55}
p5 = Point3(**temp_dict) # unpacking해서 알아서 맵핑한다
print(p5)

print('-'*35)

print(p1[0] + p2[1])
print(p1.x + p2.y) # 이렇게 키로 접근하기 위해 Named Tuple을 사용한다
# Unpacking
x, y = p3
print(x, y)

<class '__main__.Point'> <class '__main__.Point'> <class '__main__.Point'> <class '__main__.Point'>

Point(x=10, y=35) Point(x=20, y=40) Point(x=20, y=40) Point(x=10, y=20, _2=30, _3=40)
Point(x=75, y=55)
-----------------------------------
50
50
20 40

In [24]:
# 네임드 튜플 메소드

# _make() : 새로운 객체 생성 list -> name tuple
temp = [52, 38]    
p6 = Point1._make(temp)   
print(p6)

# _fields : 필드 네임 확인
print(p1._fields, p2._fields, p3._fields)

# _asdict() : Orderd Dictionary 반환 (원래 Dictionary는 순서가 없다)
print(p1._asdict())
print(p5._asdict())

Point(x=52, y=38)
('x', 'y') ('x', 'y') ('x', 'y')
{'x': 10, 'y': 35}
{'x': 75, 'y': 55}

In [26]:
# 실 사용 실습
# 반 20명, 4개의 반 (A,B,C,D)
Classes = namedtuple('Classes', ['rank', 'number'])

# 그룹 리스트 선언
numbers = [str(n) for n in range(1, 21)]
ranks = 'A B C D'.split()

# List Comprehension
students = [Classes(rank, number) for rank in ranks for number in numbers]

print(len(students))
print(students)

80
[Classes(rank='A', number='1'), Classes(rank='A', number='2'), Classes(rank='A', number='3'), Classes(rank='A', number='4'), Classes(rank='A', number='5'), Classes(rank='A', number='6'), Classes(rank='A', number='7'), Classes(rank='A', number='8'), Classes(rank='A', number='9'), Classes(rank='A', number='10'), Classes(rank='A', number='11'), Classes(rank='A', number='12'), Classes(rank='A', number='13'), Classes(rank='A', number='14'), Classes(rank='A', number='15'), Classes(rank='A', number='16'), Classes(rank='A', number='17'), Classes(rank='A', number='18'), Classes(rank='A', number='19'), Classes(rank='A', number='20'), Classes(rank='B', number='1'), Classes(rank='B', number='2'), Classes(rank='B', number='3'), Classes(rank='B', number='4'), Classes(rank='B', number='5'), Classes(rank='B', number='6'), Classes(rank='B', number='7'), Classes(rank='B', number='8'), Classes(rank='B', number='9'), Classes(rank='B', number='10'), Classes(rank='B', number='11'), Classes(rank='B', number='12'), Classes(rank='B', number='13'), Classes(rank='B', number='14'), Classes(rank='B', number='15'), Classes(rank='B', number='16'), Classes(rank='B', number='17'), Classes(rank='B', number='18'), Classes(rank='B', number='19'), Classes(rank='B', number='20'), Classes(rank='C', number='1'), Classes(rank='C', number='2'), Classes(rank='C', number='3'), Classes(rank='C', number='4'), Classes(rank='C', number='5'), Classes(rank='C', number='6'), Classes(rank='C', number='7'), Classes(rank='C', number='8'), Classes(rank='C', number='9'), Classes(rank='C', number='10'), Classes(rank='C', number='11'), Classes(rank='C', number='12'), Classes(rank='C', number='13'), Classes(rank='C', number='14'), Classes(rank='C', number='15'), Classes(rank='C', number='16'), Classes(rank='C', number='17'), Classes(rank='C', number='18'), Classes(rank='C', number='19'), Classes(rank='C', number='20'), Classes(rank='D', number='1'), Classes(rank='D', number='2'), Classes(rank='D', number='3'), Classes(rank='D', number='4'), Classes(rank='D', number='5'), Classes(rank='D', number='6'), Classes(rank='D', number='7'), Classes(rank='D', number='8'), Classes(rank='D', number='9'), Classes(rank='D', number='10'), Classes(rank='D', number='11'), Classes(rank='D', number='12'), Classes(rank='D', number='13'), Classes(rank='D', number='14'), Classes(rank='D', number='15'), Classes(rank='D', number='16'), Classes(rank='D', number='17'), Classes(rank='D', number='18'), Classes(rank='D', number='19'), Classes(rank='D', number='20')]

In [31]:
# 추천
students2 = [Classes(rank, number)
            for rank in 'A B C D'.split()
                for number in [str(n)
                    for n in range(1, 21)]]

for s in students2:
    print(s)

Classes(rank='A', number='1')
Classes(rank='A', number='2')
Classes(rank='A', number='3')
Classes(rank='A', number='4')
Classes(rank='A', number='5')
Classes(rank='A', number='6')
Classes(rank='A', number='7')
Classes(rank='A', number='8')
Classes(rank='A', number='9')
Classes(rank='A', number='10')
Classes(rank='A', number='11')
Classes(rank='A', number='12')
Classes(rank='A', number='13')
Classes(rank='A', number='14')
Classes(rank='A', number='15')
Classes(rank='A', number='16')
Classes(rank='A', number='17')
Classes(rank='A', number='18')
Classes(rank='A', number='19')
Classes(rank='A', number='20')
Classes(rank='B', number='1')
Classes(rank='B', number='2')
Classes(rank='B', number='3')
Classes(rank='B', number='4')
Classes(rank='B', number='5')
Classes(rank='B', number='6')
Classes(rank='B', number='7')
Classes(rank='B', number='8')
Classes(rank='B', number='9')
Classes(rank='B', number='10')
Classes(rank='B', number='11')
Classes(rank='B', number='12')
Classes(rank='B', number='13')
Classes(rank='B', number='14')
Classes(rank='B', number='15')
Classes(rank='B', number='16')
Classes(rank='B', number='17')
Classes(rank='B', number='18')
Classes(rank='B', number='19')
Classes(rank='B', number='20')
Classes(rank='C', number='1')
Classes(rank='C', number='2')
Classes(rank='C', number='3')
Classes(rank='C', number='4')
Classes(rank='C', number='5')
Classes(rank='C', number='6')
Classes(rank='C', number='7')
Classes(rank='C', number='8')
Classes(rank='C', number='9')
Classes(rank='C', number='10')
Classes(rank='C', number='11')
Classes(rank='C', number='12')
Classes(rank='C', number='13')
Classes(rank='C', number='14')
Classes(rank='C', number='15')
Classes(rank='C', number='16')
Classes(rank='C', number='17')
Classes(rank='C', number='18')
Classes(rank='C', number='19')
Classes(rank='C', number='20')
Classes(rank='D', number='1')
Classes(rank='D', number='2')
Classes(rank='D', number='3')
Classes(rank='D', number='4')
Classes(rank='D', number='5')
Classes(rank='D', number='6')
Classes(rank='D', number='7')
Classes(rank='D', number='8')
Classes(rank='D', number='9')
Classes(rank='D', number='10')
Classes(rank='D', number='11')
Classes(rank='D', number='12')
Classes(rank='D', number='13')
Classes(rank='D', number='14')
Classes(rank='D', number='15')
Classes(rank='D', number='16')
Classes(rank='D', number='17')
Classes(rank='D', number='18')
Classes(rank='D', number='19')
Classes(rank='D', number='20')